title = "Espace agence"
url = "/agence/create-publication"
layout = "layout_agence"
[CreatePublicationMaisonComponent]
==

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<div class="row" style="margin-top: 40px;">
    <h2>Publication d'une maison</h2>
    <br>
    <form class="col-md-12" id="form-create-publication" role="form" data-request="onCreatePublicationMaison" data-request-files>
        <div class="row">
            <div class="form-group col-md-6">
                <label for="">Commune</label>
                <select name="commune_id" id="" class="form-control">
                    <option value="">Sélectionnez une commune</option>
                    {% for commune in communes %}
                        <option value="{{ commune.id }}">{{ commune.libelle }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group col-md-6">
                <label for="">Ville</label>
                <select name="ville_id" id="" class="form-control">
                    <option value="">Sélectionnez une ville</option>
                    {% for ville in villes %}
                        <option value="{{ ville.id }}">{{ ville.libelle }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label for="">Localisation</label>
                <select name="localisation_id" id="" class="form-control">
                    <option value="">Sélectionnez une localisation</option>
                    {% for localisation in localisations %}
                        <option value="{{ localisation.id }}">{{ localisation.libelle }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group col-md-6">
                <label for="">Nom de la publication</label>
                <input
                    type="text"
                    class="form-control"
                    name="libelle"
                    placeholder="Libellé"
                />
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label for="">Nombre de pièce</label>
                <input
                    type="number"
                    class="form-control"
                    name="nbre_piece"
                    placeholder="Entrer le nombre de pièce"
                />
            </div>
            <div class="form-group col-md-6 required" data-request-files data-request-flash>
                <div id="imageResult">  
                    <img src="{{'assets/images/avatar.jpg'|theme}}"  class="img-responsive" width="150px"/>
                </div>
                <br><br>
                <label class="control-label"for="registerPhoto">Cover </label>
                <input type="file" name="cover" 
                    id="registerPhoto"
                    accept="image/*" data-request="onImageUpload" 
                    data-request-files  />
            </div> 
        </div>
        <div class="row">
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="control-label col-md-3">Upload Image</label>
                    <div class="col-md-8">
                        <div class="row">
                            <div id="coba"></div>
                        </div>
                    </div>
                </div>
            </div>	
        </div>
    </div>

        <button type="submit" class="btn btn-primary active" data-attach-loading>Publiez</button>
      </form>      
</div>
