<script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
<script>
    // $("#collapse-navbar").css({'display' :'none !important'});
    // $("#collapse-navbar .navbar-nav").css('display', 'none');
    $(document).ready(function () {
        $('.select2').select2();

        $("#statutPublication").change(function(){
            // onsole.log($(this).val());
            // console.log(" le lien est "+window.location.pathname);
            window.location.replace(window.location.pathname+"?statut_publication="+$(this).val());
        });
    });


    $("#btnResponsive").click(function (e) {
        if ($("#layout-header").hasClass("responsive")) {
            $("#layout-header").removeClass("responsive");
            // $("#collapse-navbar").removeClass("responsive-collapse");
            $("#collapse-navbar .navbar-nav").css('display', 'none');
        } else {
            $("#layout-header").addClass("responsive");
            // $("#collapse-navbar").addClass("responsive-collapse");
            $("#collapse-navbar .navbar-nav").css('display', 'block');
        }
    });



</script>